.author-card {
    .author-avatar {
        float: left;
        margin-right: 2em;
        width: 120px;
        height: 120px;
    }
}

.author-meta-data {
    height: 120px;
    .author-info {
        @include vertical-align;
    }
}
