.author-card {
    .author-avatar {
        float: left;
        margin-right: 2em;
        width: 120px;
        height: 120px;
    }
}

.author-meta-data {
    height: 120px;
    .author-info {
        @include vertical-align;
    }
}

.author-actions {
    height: 120px;
    a {
        display: inline-block;
        line-height: 1;
        @include vertical-align;
    }
}

@media (max-width:767px) {
    .author-card {
        .author-avatar {
            float: none;
            margin: 0 auto;
            display: block;
        }
    }
    .author-meta-data {
        height: auto;
        .author-info {
            top: 0;
            transform: none;
            margin-top: 1em;
        }
    }
}
