{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if quote %}
            <title>Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %} | defprogramming</title>
            <meta description="{{ quote.body }}" />
        {% else %}
            <title>{{ title }}</title>
            <meta description="{{ description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if quote %}
        <meta property="og:title" content="Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %}">
        <meta property="og:description" content="{{ quote.body }}">
        <meta property="og:url" content="http://www.defprogramming.com{{ quote.get_absolute_url }}">
        <meta property="og:type" content="blog">
        <meta property="og:image" content="{% static 'quote.gif' %}">
        <meta property="og:site_name" content="defprogramming: quotes about coding">
        <meta property="fb:admins" content="100002463252759">
        <meta property="fb:app_id" content="236133366405921">
        {% endif %}
        <link rel="alternate" type="application/atom+xml" title="defprogramming: recent quotes" href="{% url 'feed' %}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300,700">
        <link rel="stylesheet" href="{% static 'css/defprogramming.min.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="masthead clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><a href="{% url 'root' %}">def <strong>programming</strong></a></h1>
                        <h2>quotes about coding</h2>
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <a href="{% url 'root' %}">Home</a>
                            <a href="{% url 'authors' %}">Authors</a>
                            <a href="{% url 'tags' %}">Tags</a>
                            <!-- a href="#">Slide Show</a -->
                            <a href="{% url 'random' %}">Random</a>
                            <a href="{% url 'submit' %}" class="btn">Submit</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="col-md-12">
                    <p class="clearfix">
                        <span>
                            <a href="{% url 'feed' %}"><i class="icon icon-rss"></i> Feed</a>
                        </span>
                        Developed & curated with
                        <a href="#" class="heart"><i class="icon icon-heart"></i></a>
                        by <a href="http://www.daviferreira.com/en" target="_blank">Davi Ferreira</a>.
                    </p>
                    <p class="follow-twitter">
                        <a href="http://www.twitter.com/davitferreira" target="_blank">
                            <i class="icon icon-twitter"></i> <strong>Follow me on Twitter</strong>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
        {% block scripts %}
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-24367248-1');ga('send','pageview');
        </script>
        {% endblock scripts %}
    </body>
</html>
