{% load staticfiles %}

{% spaceless %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if quote %}
            <title>Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %} | defprogramming</title>
            <meta description="{{ quote.body }}" />
        {% else %}
            <title>{{ title }}</title>
            <meta description="{{ description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if quote %}
        <meta property="og:title" content="Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %}">
        <meta property="og:description" content="{{ quote.body }}">
        <meta property="og:url" content="http://www.defprogramming.com{{ quote.get_absolute_url }}">
        <meta property="og:type" content="blog">
        <meta property="og:image" content="{% static 'quote.gif' %}">
        <meta property="og:site_name" content="defprogramming: quotes about coding">
        <meta property="fb:admins" content="100002463252759">
        <meta property="fb:app_id" content="236133366405921">
        {% endif %}
        <link rel="alternate" type="application/atom+xml" title="defprogramming: recent quotes" href="{% url 'feed' %}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
        <link rel="stylesheet" href="{% static 'css/defprogramming.min.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" />
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="masthead clearfix" id="masthead">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-10">
                        <h1><a href="{% url 'root' %}">def <strong>programming</strong></a></h1>
                        <h2 class="hidden-xs">quotes about coding</h2>
                    </div>
                    <div class="col-md-6 col-xs-2">
                        <nav>
                            <a href="{% url 'root' %}">Home</a>
                            <a href="{% url 'authors' %}">Authors</a>
                            <a href="{% url 'tags' %}">Tags</a>
                            <!-- a href="#">Slide Show</a -->
                            <a href="{% url 'random' %}">Random</a>
                            <a href="{% url 'submit' %}" class="btn">Submit</a>
                        </nav>
                        <a href="#" class="visible-xs menu-toggler" id="menu-toggler">
                            <i class="icon icon-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="clearfix">
                            <span>
                                <a href="{% url 'feed' %}"><i class="icon icon-rss"></i> Feed</a>
                            </span>
                            Developed & curated with
                            <a href="#" class="heart" id="lnk-love"><i class="icon icon-heart"></i></a>
                            by <a href="http://www.daviferreira.com/en" target="_blank">Davi Ferreira</a>.
                        </p>
                        <p class="follow-twitter">
                            <a href="http://www.twitter.com/davitferreira" target="_blank">
                                <i class="icon icon-twitter"></i> <strong>Follow me on Twitter</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="overlay" id="overlay">
            <section id="credits" class="credits">
                <header>
                    <h1>Built with <i class="icon icon-heart"></i> using</h1>
                </header>
                <ul>
                    <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
                    <li><a href="http://gulpjs.com/" target="_blank">Gulp</a></li>
                    <li><a href="http://html5boilerplate.com/" target="_blank">HTML5 Boilerplate</a></li>
                    <li><a href="http://modernizr.com/" target="_blank">Modernizr</a></li>
                    <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                    <li><a href="http://www.google.com/fonts/specimen/Open+Sans" target="_blank">Open Sans</a></li>
                    <li><a href="http://zurb.com/playground/foundation-icons" target="_blank">Foundation Icon Fonts</a></li>
                    <li><a href="http://www.colourlovers.com/palette/2289364/Emerald_eyes" target="_blank">Colour Lovers</a></li>
                </ul>
                <p>Source code available @ <a href="https://github.com/daviferreira/defprogramming" target="_blank">github</a><small>pull requests more than welcome ;-)</small></p>
            </section>
        </div>
        {% block scripts %}
        <script src="{% static 'js/defprogramming.min.js' %}"></script>
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-24367248-1');ga('send','pageview');
        </script>
        {% endblock scripts %}
    </body>
</html>
{% endspaceless %}
