<div class="box">
	<cite>
		<a href="{{ quote.get_absolute_url }}">{{ quote.body|safe|linebreaks }}</a>
	</cite>
	{% if not author %}
    <p class="author">-- 
    {% for author in quote.authors.all %}
      <a href="{{ author.get_absolute_url }}">{{ author.name }}</a> 
      {% if not forloop.last %} and {% endif %}
    {% endfor %}
    </p>
  {% endif %}
  
  <ul class="share clearfix">
    {% if quote.tags.all and not tag %}
      <li class="tags">tagged under 
      {% for tag in quote.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
      {%endfor %}
      </li>
    {% endif %}
  </ul>
</div>
