<div class="box">
	<cite>
		<a href="{{ quote.get_absolute_url }}">{{ quote.body|safe|linebreaks }}</a>
	</cite>
	{% if not author %}
    <p class="author">&dash; &dash; 
    {% for author in quote.authors.all %}
      <a href="{{ author.get_absolute_url }}">{{ author.name }}</a> 
      {% if not forloop.last %} and {% endif %}
    {% endfor %}
    </p>
  {% endif %}
  
  <ul class="share clearfix">
    {% if quote.tags.all and not tag %}
      <li class="tags">tagged under 
      {% for tag in quote.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
      {%endfor %}
      </li>
    {% endif %}
    <li class="comments"><a href="{{ quote.get_absolute_url }}#disqus_thread" data-disqus-identifier="quote_{{ quote.id }}">{{ quote.id }}</a></li>
    <li><g:plusone href="http://www.defprogramming.com{{ quote.get_absolute_url }}" size="medium" action="like">{{ quote.body }}</g:plusone></li>
    <li>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://www.defprogramming.com{{ quote.get_absolute_url }}" data-text='{{ quote.body }}'>Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </li>
    <li>
      <fb:like href="http://www.defprogramming.com{{ quote.get_absolute_url }}" width="250" show_faces="false" font="" layout="button_count" action="like"></fb:like>
    </li>
  </ul>
</div>
