.btn {
    display: inline-block;
    padding: 0 1em;
    background-color: transparent;
    border: 2px solid $black;
    border-radius: 4px;
    color: $black;
    font-weight: 700;
    line-height: 2;
    transition: border-color .2s ease-in,
                color .2s ease-in;
}

.btn-load-more {
    display: block;
    margin: 3em auto;
    text-align: center;
    width: 50%;
    border: 1px solid darken($grey, 20);
    background-color: $grey;
    padding: 0.75em;
}

.no-touch {
    .btn {
        &:hover {
            color: $secondary;
            border-color: $secondary;
            text-decoration: none;
        }
    }
}

@media (max-width:767px) {
    .btn-load-more {
        width: 100%;
    }
}