/*** Config ***/

/* Colors */
$baseColor: $primary;
$borderColor1: rgba($baseColor, 0.25); /* used for row 1 & 2 */
$borderColor2: rgba($baseColor, 0.50);
$borderColor3: rgba($baseColor, 0.75);
$borderColor4: rgba($baseColor, 1.0);    /* used for row 1 & 2 */

/* Dimensions */
$borderWidthX: 1em;
$borderWidthY: 1em;

/*** Animations / styles ***/

@keyframes border-loading-indicator-row-1 {
    0% {
        border-color: $borderColor1;
        border-top-color: $borderColor4;
    }
    25% {
        border-color: $borderColor1;
        border-right-color: $borderColor4;
    }
    50% {
        border-color: $borderColor1;
        border-bottom-color: $borderColor4;
    }
    75% {
        border-color: $borderColor1;
        border-left-color: $borderColor4;
    }
    100% {
        border-color: $borderColor1;
        border-top-color: $borderColor4;
    }
}

@keyframes border-loading-indicator-row-2 {
    0% {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
    25% {
        border-color: $borderColor3 $borderColor4 $borderColor1 $borderColor2;
    }
    50% {
        border-color: $borderColor2 $borderColor3 $borderColor4 $borderColor1;
    }
    75% {
        border-color: $borderColor1 $borderColor2 $borderColor3 $borderColor3;
    }
    100% {
        border-color: $borderColor4 $borderColor1 $borderColor2 $borderColor3;
    }
}

.border-loading-indicator {
    width: 0;
    height: 0;
    border: 0 solid $borderColor4;
    border-width: $borderWidthY $borderWidthX;
    border-radius: 50%;
}

.border-loading-indicator.row-1 {
    animation: border-loading-indicator-row-1 750ms linear infinite;
}

.border-loading-indicator.row-2 {
    animation: border-loading-indicator-row-2 750ms linear infinite;
}

.border-loading-indicator.col-1 {
    width: $borderWidthX;
    height: $borderWidthY;
    border-width: ($borderWidthY / 2) ($borderWidthX / 2);
}

.border-loading-indicator.col-3 {
    width: 0;
    height: 0;
    border-radius: $borderWidthY $borderWidthX $borderWidthY $borderWidthX // $borderWidthX $borderWidthY $borderWidthX $borderWidthY;
}

.pagination-loading {
    display: none;
    margin: 3em 0;
    padding: .85em 0;
    .border-loading-indicator {
        margin: 0 auto;
    }
}
