/* Reset
-------------------------------------------------------------- */
    
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;s
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Layout
-------------------------------------------------------------- */

.round-small{
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
}

.shadow{
  -webkit-box-shadow: 0px 0px 6px #B2B2A3;
  -moz-box-shadow: 0px 0px 6px #B2B2A3;
  box-shadow: 0px 0px 6px #B2B2A3;
}

.shadow-dark{
  -webkit-box-shadow: 0px 0px 3px #000;
  -moz-box-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 3px #000;
}


/* Misc/Util
-------------------------------------------------------------- */

.clearfix:after                 { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix                { zoom: 1; } /* IE6 */
*:first-child+html .clearfix    { zoom: 1; } /* IE7 */

.field_with_errors{
  /*display:inline;*/
}

.field_with_errors label {
  display:inline-block!important;
  background-color:red;
  color: #fff!important;
}

/* Style
-------------------------------------------------------------- */

body{
  /*background-color:#eff8f9;*/
  background:#fff url("bg.png") 0 0 repeat;
  font-family: "Brawler", arial, serif;
}

header{
  margin:40px auto;
  width:960px;
  text-align:center;
  display:block;
}

header h1{
  font-size:42px;
  text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  font-weight:300;
}

header h1 a{
  color:#000;
  text-decoration:none;
}

p.back{
  margin:20px 0 0;
  text-align:center;
}

p.back a{
  color:#df0d32;
  text-decoration:none;
  border-bottom:1px dotted #df0d32;
  font-size:13px;
}

header h2{
  font-size:20px;
  margin:20px 0 0;
  color:#a8cbcf;
  font-weight:300;
  letter-spacing:-0.4px;
}

section#main{
  margin:20px auto 0 auto;
  width:960px;
  display:block;
}

hr.bottom_shadow{
  margin:0 auto 20px auto;
  width:960px;
  border:none;
  
  height:1px;
}

div.box{
  padding:40px;
  background-color:#fff;
  border-top:1px solid #e4eff0;
  border-bottom:1px solid #ccc;
  margin:0 0 20px 0;
}

div.box cite{
  font-style:normal;
  font-weight:300;
  color:#333;
  font-size:24px;
  line-height:34px;
}

div.box cite a{
  color:#333;
  text-decoration:none;
}

div.box p.author{
  font-size:20px;
  text-align:right;
  margin:20px 0 0;
  color:#ccc;
}

div.box p.author a{
  color:#999;
  text-decoration:none;
}

footer{
  margin:20px auto;
  padding:20px;
  width:960px;
  text-align:center;
  font-size:14px;
  letter-spacing:-0.4px;
  color:#999;
  font-weight:300;
  line-height:28px;
  display:block;
}

footer span.menu{
  display:block;
}

footer a{
  color:#666;
  text-decoration:none;
  border-bottom:1px dotted #666;
  margin:0 6px;
}

form div.field{
  margin:12px 0 12px 0;
}

form div.field label{
  display:block;
  margin:0 0 3px 0;
  color:#df0d32;
  font-size:12px;
}

form div.actions{
  margin:20px 0 0;
  text-align:center;
  border-top:1px dashed #ccc;
  padding:6px;
}

div.pagination{
  text-align:center;
  font-size:16px;
  color:#666;
}

div.pagination a{
  color:#df0d32;
}

ul.share{
  border-top:1px solid #f2f2f2;
  margin:20px 0 0;
}

ul.share li.tags, ul.share li.comments{
  margin:0 20px 0 0;
  font-size:12px;
  font-weight:300;
  color:#ccc;
}

ul.share li.tags a, ul.share li.comments a{
  color:#666;
  text-decoration:none;
  text-transform:lowercase;
}

ul.share li{
  float:left;
  padding:10px 0 0;
}

ul.list-all li{
float:left;
width:196px;
text-align:center;
padding:6px;
margin:6px;
font-size:14px;
}

ul.list-all li a{
  color:#333;
  text-decoration:none;
  border-bottom:1px dotted #ccc;
}

div#disqus_thread a{
  color:#df0d32;
}

div#dsq-subscribe a{
  font-size:12px;
}
