body {
    background-color: lighten($grey, 2);
    font-family: $sans-serif;
    font-size: 15px;
    padding-top: 4em;
}

a {
    color: $primary;
    transition: color .15s linear;
}

q {
    &:before {
        color: $grey;
        content: '\201C';
        font-size: 3em;
        font-family: serif;
    }
    &:after {
        content: '';
    }
}

.jumbotron {
    letter-spacing: -.035em;
    font-weight: 700;
    font-size: 3.65em;
    line-height: 1.2;
}

.jumbotron-small {
    letter-spacing: -.025em;
    font-size: 2em;
    line-height: 1.4;
}

.jumbotron-header {
    padding: 8em 0;
    h1 {
        margin: 0;
        line-height: 1;
    }
    p {
        margin: 1em 0 0;
    }
    .actions {
        font-size: 2em;
        text-align: right;
        a {
            margin-right: .5em;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.list {
    margin: 6em 0;
    column-count: 4;
    column-gap: 2em;
    li {
        margin-bottom: 1.5em;
    }
}

.no-touch {
    a {
        &:hover {
            color: $secondary;
            text-decoration: none;
        }
        &.heart:hover {
            color: $red;
        }
        &.facebook:hover {
            color: $facebook-color;
        }
        &.twitter:hover {
            color: $twitter-color;
        }
        &.google-plus:hover {
            color: $google-plus-color;
        }
    }
}

.touch {
    a {
        transition: none;
        &.facebook {
            color: $facebook-color;
        }
        &.twitter {
            color: $twitter-color;
        }
        &.google-plus {
            color: $google-plus-color;
        }
    }
}

@media (max-width:767px) {
    body {
        font-size: 13px;
    }
    .jumbotron {
        letter-spacing: -.035em;
        font-size: 2em;
        line-height: 1.2;
        text-align: center;
    }
    .jumbotron-header {
        padding: 2em 0;
        .actions {
            padding: 1em 0;
            text-align: center;
        }
    }
    .list {
        column-count: 1;
    }
}