body {
    background-color: $white;
    font-family: $sans-serif;
}

a {
    color: $primary;
    transition: color .15s linear;
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
    &.heart:hover {
        color: $red;
    }
}

q {
    &:before {
        color: $grey;
        content: '\201C';
        font-size: 3em;
        font-family: serif;
    }
    &:after {
        content: '';
    }
}

.btn {
    display: inline-block;
    padding: 0 1em;
    border: 2px solid $black;
    border-radius: 4px;
    color: $black;
    font-weight: 700;
    line-height: 2;
    transition: border-color .2s ease-in,
                color .2s ease-in;
    &:hover {
        border-color: $secondary;
        text-decoration: none;
    }
}

.jumbotron {
    letter-spacing: -.035em;
    font-weight: 700;
    font-size: 3.65em;
    line-height: 1.1;
}

.jumbotron-header {
    padding: 6em 0;
    h1 {
        margin: 0;
        line-height: 1;
    }
    p {
        margin: 1em 0 0;
    }

}
