footer {
    margin: 2em 0 0;
    padding: 4em;
    background-color: $black;
    color: darken($grey, 20);
    font-weight: 700;
    span {
        float: right;
    }
    .follow-twitter {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px dotted darken($primary, 20);
        a {
            color: $secondary;
            &:hover {
                color: lighten($secondary, 10);
            }
        }
        strong {
            border-bottom: 1px solid $secondary;
        }
    }
}

@media (max-width:767px) {
    footer {
        text-align: center;
        span {
            display: block;
            float: none;
            margin-bottom: 2em;
        }
    }
}
