.masthead {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    padding: 1.5em;
    width: 100%;
    border-bottom: 1px solid lighten($primary, 45);
    background-color: $white;
    transition: all .5s cubic-bezier(0.455, 0.030, 0.515, 0.955);
    h1, h2 {
        display: inline-block;
    }
    h1 {
        margin: 0;
        color: $black;
        letter-spacing: -.075em;
        font-size: 2em;
        a {
            color: $black;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 {
        margin: 0 0 0 .65em;
        color: $primary;
        letter-spacing: -.05em;
        font-size: 1.25em;
    }
    nav {
        float: right;
        a {
            display: inline-block;
            margin-right: 1.2em;
            color: $black;
            text-align: right;
            font-weight: 700;
            line-height: 2;
            &:hover {
                color: $secondary;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &[data-visible="false"] {
        top: -6em;
        opacity: 0;
    }
    &[data-visible="true"] {
        top: 0;
        padding: 1em;
        border-bottom: 1px solid $black;
        background-color: rgba($black, .95);
        opacity: 1;
        h1 a, nav a {
            color: $white;
            &:hover {
                color: darken($white, 10);
            }
        }
        h2 {
            color: lighten($secondary, 10);
        }
        .btn {
            border-color: $white;
            &:hover {
                border-color: darken($white, 10);
            }
        }
    }
}
