.masthead {
    z-index: 15;
    padding: 1.5em;
    width: 100%;
    border-bottom: 1px solid lighten($primary, 45);
    background-color: $white;
    h1, h2 {
        display: inline-block;
    }
    h1 {
        margin: 0;
        color: $black;
        letter-spacing: -.075em;
        font-size: 2em;
        a {
            color: $black;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h2 {
        margin: 0 0 0 .65em;
        font-size: 1.25em;
        letter-spacing: -.05em;
        color: $primary;
    }
    nav {
        float: right;
        a {
            display: inline-block;
            margin-right: 1.2em;
            color: $black;
            text-align: right;
            font-weight: 700;
            line-height: 2;
            &:hover {
                color: $secondary;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &[data-sticky="true"] {
        position: fixed;
        top: -6em;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: all .3s ease-in;
    }
    &[data-visible="true"] {
        top: 0;
        opacity: 1;
    }
}
