$black: #333;
$white: #fafafa;
$grey: #f2f2f2;
$red: #cc2b2b;

$primary: #7b6980;
$secondary: #60a079;

$facebook-color: #3b5998;
$twitter-color: #00aced;
$google-plus-color: #dd4b39;

$sans-serif: "Open Sans", sans-serif;
