.widget-sandwich {
    background-color: rgba($white, .8);
    border: 1px solid $grey;
    button {
        display: block;
        width: 100%;
        padding: .3em 0;
        i:before {
            height: 1em;
            display: block;
            text-align: center;
            line-height: 1em;
            font-size: 1em;
        }
        &[disabled] {
            border: 1px solid lighten($black, 50);
            color: lighten($black, 50);
            background-color: $grey;
        }
    }
    h3 {
        margin: 0;
        padding: 1em;
        font-weight: 700;
        font-size: 1em;
        background-color: $white;
        border-top: 3px solid $primary;
        text-align: center;
    }
}

.widget-sandwich-wrapper {
    padding: 1em 0;
    height: 25em;
    overflow: hidden;
}

.widget-sandwich-content {
    transition: margin-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}