@keyframes pop {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(0.9) rotateX(-40deg); }

  50% {
    opacity: 1;
    filter: alpha(opacity=100); }

  70% {
    transform: scale(1.25) rotateX(0); }

  100% {
    transform: scale(1) rotateX(0); } }

@keyframes load-page {
  0% {
    opacity: 0;
    transform: translateY(10%); }

  55% {
    opacity: 1;
    transform: translateY(5%); }

  100% {
    transform: translateY(0); } }

body {
  background-color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  padding-top: 4em; }

a {
  color: #7b6980;
  transition: color 0.15s linear; }

q:before {
  color: #f2f2f2;
  content: '\201C';
  font-size: 3em;
  font-family: serif; }
q:after {
  content: ''; }

.jumbotron {
  letter-spacing: -0.035em;
  font-weight: 700;
  font-size: 3.65em;
  line-height: 1.2; }

.jumbotron-small {
  letter-spacing: -0.025em;
  font-size: 2em;
  line-height: 1.4; }

.jumbotron-header {
  padding: 8em 0; }
  .jumbotron-header h1 {
    margin: 0;
    line-height: 1; }
  .jumbotron-header p {
    margin: 1em 0 0; }
  .jumbotron-header .actions {
    font-size: 2em;
    text-align: right; }
    .jumbotron-header .actions a {
      margin-right: 0.5em; }
      .jumbotron-header .actions a:last-child {
        margin-right: 0; }

.list {
  margin: 6em 0;
  column-count: 4;
  column-gap: 2em; }
  .list li {
    margin-bottom: 1.5em; }

.no-touch a:hover {
  color: #60a079;
  text-decoration: none; }
.no-touch a.heart:hover {
  color: #cc2b2b; }
.no-touch a.facebook:hover {
  color: #3b5998; }
.no-touch a.twitter:hover {
  color: #00aced; }
.no-touch a.google-plus:hover {
  color: #dd4b39; }

.touch a {
  transition: none; }
  .touch a.facebook {
    color: #3b5998; }
  .touch a.twitter {
    color: #00aced; }
  .touch a.google-plus {
    color: #dd4b39; }

@media (max-width: 767px) {
  body {
    font-size: 13px; }
  .jumbotron {
    letter-spacing: -0.035em;
    font-size: 2em;
    line-height: 1.2;
    text-align: center; }
  .jumbotron-header {
    padding: 2em 0; }
    .jumbotron-header .actions {
      padding: 1em 0;
      text-align: center; }
  .list {
    column-count: 1; } }

.btn {
  display: inline-block;
  padding: 0 1em;
  background-color: transparent;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-weight: 700;
  line-height: 2;
  transition: border-color 0.2s ease-in, color 0.2s ease-in; }

.btn-load-more {
  display: block;
  margin: 3em auto;
  text-align: center;
  width: 50%;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  padding: 0.75em; }

.no-touch .btn:hover {
  color: #60a079;
  border-color: #60a079;
  text-decoration: none; }

@media (max-width: 767px) {
  .btn-load-more {
    width: 100%; } }

@font-face {
  font-family: "defprogramming";
  src: url('../fonts/defprogramming.eot');
  src: url('../fonts/defprogramming.eot?#iefix') format('eot'), url('../fonts/defprogramming.woff') format('woff'), url('../fonts/defprogramming.ttf') format('truetype'), url('../fonts/defprogramming.svg#defprogramming') format('svg'); }

.icon:before {
  font-family: "defprogramming";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-comments:before {
  content: "\E001"; }

.icon-down:before {
  content: "\E002"; }

.icon-facebook:before {
  content: "\E003"; }

.icon-google-plus:before {
  content: "\E004"; }

.icon-heart:before {
  content: "\E005"; }

.icon-link:before {
  content: "\E006"; }

.icon-megaphone:before {
  content: "\E007"; }

.icon-menu:before {
  content: "\E008"; }

.icon-pinterest:before {
  content: "\E009"; }

.icon-rss:before {
  content: "\E00A"; }

.icon-share:before {
  content: "\E00B"; }

.icon-tags:before {
  content: "\E00C"; }

.icon-twitter:before {
  content: "\E00D"; }

.icon-up:before {
  content: "\E00E"; }

.icon-x:before {
  content: "\E00F"; }

/*** Config ***/
/* Colors */
/* used for row 1 & 2 */
/* used for row 1 & 2 */
/* Dimensions */
/*** Animations / styles ***/
@keyframes border-loading-indicator-row-1 {
  0% {
    border-color: rgba(123, 105, 128, 0.25);
    border-top-color: #7b6980; }

  25% {
    border-color: rgba(123, 105, 128, 0.25);
    border-right-color: #7b6980; }

  50% {
    border-color: rgba(123, 105, 128, 0.25);
    border-bottom-color: #7b6980; }

  75% {
    border-color: rgba(123, 105, 128, 0.25);
    border-left-color: #7b6980; }

  100% {
    border-color: rgba(123, 105, 128, 0.25);
    border-top-color: #7b6980; } }

@keyframes border-loading-indicator-row-2 {
  0% {
    border-color: #7b6980 rgba(123, 105, 128, 0.25) rgba(123, 105, 128, 0.5) rgba(123, 105, 128, 0.75); }

  25% {
    border-color: rgba(123, 105, 128, 0.75) #7b6980 rgba(123, 105, 128, 0.25) rgba(123, 105, 128, 0.5); }

  50% {
    border-color: rgba(123, 105, 128, 0.5) rgba(123, 105, 128, 0.75) #7b6980 rgba(123, 105, 128, 0.25); }

  75% {
    border-color: rgba(123, 105, 128, 0.25) rgba(123, 105, 128, 0.5) rgba(123, 105, 128, 0.75) rgba(123, 105, 128, 0.75); }

  100% {
    border-color: #7b6980 rgba(123, 105, 128, 0.25) rgba(123, 105, 128, 0.5) rgba(123, 105, 128, 0.75); } }

.border-loading-indicator {
  width: 0;
  height: 0;
  border: 0 solid #7b6980;
  border-width: 1em 1em;
  border-radius: 50%; }

.border-loading-indicator.row-1 {
  animation: border-loading-indicator-row-1 750ms linear infinite; }

.border-loading-indicator.row-2 {
  animation: border-loading-indicator-row-2 750ms linear infinite; }

.border-loading-indicator.col-1 {
  width: 1em;
  height: 1em;
  border-width: 0.5em 0.5em; }

.border-loading-indicator.col-3 {
  width: 0;
  height: 0;
  border-radius: 1em 1em 1em 1em; }

.pagination-loading {
  display: none;
  margin: 3em 0;
  padding: 0.85em 0; }
  .pagination-loading .border-loading-indicator {
    margin: 0 auto; }

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  padding: 1em 2em;
  width: 100%;
  border-bottom: 1px solid #e9e5ea;
  background-color: #fafafa;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .masthead h1, .masthead h2 {
    display: inline-block; }
  .masthead h1 {
    margin: 0;
    color: #333;
    letter-spacing: -0.075em;
    font-size: 2em; }
    .masthead h1 a {
      color: #333; }
  .masthead h2 {
    margin: 0 0 0 0.65em;
    color: #7b6980;
    letter-spacing: -0.05em;
    font-size: 1.25em; }
  .masthead nav {
    float: right; }
    .masthead nav a {
      display: inline-block;
      margin-right: 1.2em;
      color: #333;
      text-align: right;
      font-weight: 700;
      line-height: 2; }
      .masthead nav a:last-child {
        margin-right: 0; }
  .masthead .menu-toggler {
    display: none; }
  .masthead[data-visible="false"] {
    top: -6em;
    opacity: 0; }
  .masthead[data-visible="true"] {
    top: 0;
    border-bottom: 1px solid #333;
    background-color: rgba(123, 105, 128, 0.95);
    opacity: 1; }
    .masthead[data-visible="true"] h1 a, .masthead[data-visible="true"] nav a {
      color: #fafafa; }
      .masthead[data-visible="true"] h1 a:hover, .masthead[data-visible="true"] nav a:hover {
        color: #e1e1e1; }
    .masthead[data-visible="true"] h2 {
      color: #f2f2f2; }
    .masthead[data-visible="true"] .btn {
      border-color: #fafafa; }

.no-touch .masthead h1 a:hover {
  color: #333;
  text-decoration: none; }
.no-touch .masthead nav a:hover {
  color: #60a079; }
.no-touch .masthead[data-visible="true"] .btn:hover {
  border-color: #e1e1e1; }
.no-touch .masthead[data-visible="true"] h1 a:hover {
  color: #fafafa; }

@media (max-width: 767px) {
  .masthead h1 {
    display: block;
    margin-bottom: 0.2em; }
  .masthead nav {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    box-shadow: 0 0 6px #f2f2f2; }
    .masthead nav a {
      display: block;
      text-align: center;
      margin-right: 0;
      padding: 1em;
      border-bottom: 1px solid #f2f2f2; }
    .masthead nav .btn {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #f2f2f2; }
  .masthead .menu-toggler {
    display: block;
    height: 33px;
    color: #333; }
  .masthead .icon-menu {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    line-height: 1; }
  .masthead.menu-active nav {
    display: block;
    margin-top: 0; } }

footer {
  margin: 2em 0 0;
  padding: 4em;
  background-color: #333;
  color: #bfbfbf;
  font-weight: 700; }
  footer span {
    float: right; }
  footer .follow-twitter {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px dotted #453b48; }
    footer .follow-twitter a {
      color: #60a079; }
    footer .follow-twitter strong {
      border-bottom: 1px solid #60a079; }
    footer .follow-twitter i {
      margin-right: 0.3em; }

.no-touch footer .follow-twitter a:hover {
  color: #80b394; }
.no-touch .heart:hover {
  animation: pop 300ms forwards cubic-bezier(0.8, 0.02, 0.45, 0.91); }

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7); }

.credits {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  overflow: hidden;
  margin-top: -200px;
  margin-left: -290px;
  padding: 4em;
  width: 580px;
  height: 400px;
  outline: 0;
  background: #fafafa;
  text-align: center;
  transform-origin: bottom center;
  animation: pop 300ms forwards cubic-bezier(0.8, 0.02, 0.45, 0.91); }
  .credits h1 {
    margin: 0;
    font-weight: 700;
    font-size: 2em;
    line-height: 1; }
    .credits h1 .icon-heart {
      color: #cc2b2b;
      font-size: 1em;
      line-height: 1; }
  .credits ul {
    margin: 2em 0;
    padding: 0;
    column-count: 2;
    column-gap: 2em; }
  .credits li {
    padding: 0.5em; }
  .credits p {
    font-weight: 300; }
    .credits p small {
      display: block; }

@media (max-width: 767px) {
  footer {
    text-align: center; }
    footer span {
      display: block;
      float: none;
      margin-bottom: 2em; } }

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.sidebar li {
  position: relative;
  display: block; }
  .sidebar li a {
    display: block;
    padding: 0.75em 1.5em;
    border-left: 3px solid transparent;
    color: #333;
    font-weight: 500; }
    .sidebar li a.active {
      border-left: 3px solid #7b6980;
      color: #7b6980;
      cursor: default;
      font-weight: 700; }

.no-touch .sidebar li a:hover {
  border-left: 3px solid #60a079;
  color: #60a079; }

@media (max-width: 767px) {
  .sidebar li {
    padding: 1em 0;
    border-bottom: 1px solid #e6e6e6; } }

.pagination {
  margin-bottom: 5em;
  text-align: center; }
  .pagination .current {
    color: #727272; }
  .pagination .previous {
    margin-right: 1em; }
  .pagination .next {
    margin-left: 1em; }

.widget-sandwich {
  background-color: rgba(250, 250, 250, 0.8);
  border: 1px solid #f2f2f2; }
  .widget-sandwich button {
    display: block;
    width: 100%;
    padding: 0.3em 0; }
    .widget-sandwich button i:before {
      height: 1em;
      display: block;
      text-align: center;
      line-height: 1em;
      font-size: 1em; }
    .widget-sandwich button[disabled] {
      border: 1px solid #b3b3b3;
      color: #b3b3b3;
      background-color: #f2f2f2; }
  .widget-sandwich h3 {
    margin: 0;
    padding: 1em;
    font-weight: 700;
    font-size: 1em;
    background-color: #fafafa;
    border-top: 3px solid #7b6980;
    text-align: center; }

.widget-sandwich-wrapper {
  padding: 1em 0;
  height: 25em;
  overflow: hidden; }

.widget-sandwich-content {
  transition: margin-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.quotes h3 {
  padding: 0 0 1em;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #b3b3b3;
  border-bottom: 1px dashed #e6e6e6;
  text-align: center; }

.quote-cards-container {
  column-count: 2;
  column-gap: 2em; }
  .quote-cards-container.single {
    column-count: 3;
    margin-top: 2em; }

@media (max-width: 767px) {
  .quote-cards-container {
    column-count: 1; }
    .quote-cards-container.single {
      column-count: 1; } }

.quote-highlight {
  padding: 8em 0 6em;
  color: #333; }
  .quote-highlight q {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
    padding: 0; }
    .quote-highlight q:before {
      position: absolute;
      font-size: 160px;
      top: -22px;
      left: -90px;
      height: 80px;
      line-height: 1;
      overflow: hidden; }

.quote-highlight-meta {
  display: block;
  margin-top: 4em;
  font-weight: 300;
  line-height: 1; }

.quote-highlight-tags {
  display: block;
  margin-top: 0.3em;
  font-weight: 300; }
  .quote-highlight-tags i {
    font-weight: 400; }

.quote-highlight-actions {
  float: right;
  margin-top: 0.5em;
  font-size: 2em; }
  .quote-highlight-actions a {
    margin-right: 1em; }
    .quote-highlight-actions a:last-child {
      margin-right: 0; }

.quote-highlight-author {
  display: block; }
  .quote-highlight-author img {
    float: left;
    margin-right: 1.3em; }

.quote-highlight-author-name {
  display: inline-block;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: -0.05em; }

.no-touch .quote-highlight a:hover {
  text-decoration: none; }

@media (max-width: 767px) {
  .quote-highlight {
    padding: 4em 0 3em; }
    .quote-highlight q:before {
      display: none; }
  .quote-highlight-content {
    text-align: center; }
  .quote-highlight-author {
    margin: 2em 0; }
    .quote-highlight-author > a {
      display: block;
      text-align: center; }
      .quote-highlight-author > a img {
        display: block;
        float: none;
        margin: 0 auto; }
  .quote-highlight-actions {
    float: none;
    text-align: center; }
    .quote-highlight-actions a:not(.special) {
      color: #60a079; } }

.quote-card {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
  padding: 4em 2em 2em;
  width: 100%;
  border-top: 3px solid #7b6980;
  background-color: #fafafa;
  text-align: center;
  break-inside: avoid;
  overflow: hidden;
  max-height: 4000px; }
  .quote-card q {
    position: relative;
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 1.25; }
    .quote-card q:before {
      position: absolute;
      top: -70px;
      left: 50%;
      overflow: hidden;
      margin-left: -24px;
      height: 65px;
      color: #edebee;
      font-size: 4em; }

.quote-card-actions {
  font-size: 1.5em; }
  .quote-card-actions a {
    margin-right: 0.5em;
    color: #edebee; }
    .quote-card-actions a:last-child {
      margin-right: 0; }

.quote-card-author {
  margin-top: 2em;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: 300; }
  .quote-card-author a {
    display: inline-block;
    margin: 0 auto;
    color: #b3b3b3;
    font-weight: 700; }
  .quote-card-author p {
    margin: 0;
    padding: 0.6em 0 0; }

.quote-cards-container-new {
  transform: translateZ(0);
  animation: load-page 300ms; }

.quote-card-tags {
  color: #d0c9d3;
  font-weight: 300; }

.ie10 .quote-card {
  width: 367px; }

.touch .quote-card-actions a:not(.special) {
  color: #60a079; }

.no-touch .quote-card-actions a:not(.special):hover {
  color: #60a079; }
.no-touch .quote-card-author a:hover {
  color: #60a079; }

.comments {
  margin: 4em 0 8em;
  padding-top: 4em;
  border-top: 1px dotted #f2f2f2; }

@media (max-width: 767px) {
  .comments {
    margin-top: 0;
    padding-top: 0; } }

.submit {
  margin-top: 5em;
  margin-bottom: 5em; }
  .submit form {
    margin: 5em 0; }
    .submit form > div {
      margin-bottom: 1em; }
    .submit form label {
      display: block;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 700; }
    .submit form [type="email"], .submit form [type="text"], .submit form textarea {
      width: 50%; }
    .submit form .actions {
      margin-top: 2.5em;
      padding-top: 2.5em;
      border-top: 1px solid #f2f2f2; }

@media (max-width: 767px) {
  .submit form [type="email"], .submit form [type="text"], .submit form textarea {
    width: 100%; } }

.author-avatar {
  display: inline-block;
  position: relative;
  border: 1px solid #c4bbc7;
  border-radius: 50%;
  box-sizing: content-box;
  transition: border-color 0.2s ease-in; }

.no-touch a:hover .author-avatar {
  border-color: #60a079; }
.no-touch .author-avatar:hover {
  border-color: #60a079; }

.author-card .author-avatar {
  float: left;
  margin-right: 2em;
  width: 120px;
  height: 120px; }

.author-meta-data {
  height: 120px; }
  .author-meta-data .author-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.author-actions {
  height: 120px; }
  .author-actions a {
    display: inline-block;
    line-height: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

@media (max-width: 767px) {
  .author-card .author-avatar {
    float: none;
    margin: 0 auto;
    display: block; }
  .author-meta-data {
    height: auto; }
    .author-meta-data .author-info {
      top: 0;
      transform: none;
      margin-top: 1em; }
  .author-actions {
    height: auto; }
    .author-actions a {
      top: 0;
      transform: none; } }
