.quote-card {
    position: relative;
    display: inline-block; // avoids chrome bad column alignment
    margin-bottom: 2em;
    padding: 4em 2em 2em;
    width: 100%;
    border-top: 3px solid $primary;
    background-color: $white;
    text-align: center;
    break-inside: avoid;
    overflow: hidden;
    max-height: 4000px;
    q {
        position: relative;
        display: block;
        font-size: 1.7em;
        font-weight: bold;
        letter-spacing: -.035em;
        line-height: 1.25;
        &:before {
            position: absolute;
            top: -70px;
            left: 50%;
            overflow: hidden;
            margin-left: -24px;
            height: 65px;
            color: lighten($primary, 47);
            font-size: 4em;
        }
    }
}

.quote-card-actions {
    font-size: 1.5em;
    a {
        margin-right: .5em;
        color: lighten($primary, 47);
        &:last-child {
            margin-right: 0;
        }
    }
}

.quote-card-author {
    margin-top: 2em;
    color: lighten($black, 50);
    text-transform: uppercase;
    font-weight: 300;
    a {
        display: inline-block;
        margin: 0 auto;
        color: lighten($black, 50);
        font-weight: 700;
    }
    p {
        margin: 0;
        padding: .6em 0 0;
    }
}

.quote-cards-container-new {
    transform: translateZ(0);
    animation: load-page 300ms;
}

.quote-card-tags {
    color: lighten($primary, 35);
    font-weight: 300;
}

.ie10 .quote-card { // IE 10 Fix
    width: 367px;
}

.touch {
    .quote-card-actions {
        a:not(.special) {
            color: $secondary;
        }
    }
}

.no-touch {
    .quote-card-actions {
        a:not(.special):hover {
            color: $secondary;
        }
    }
    .quote-card-author {
        a:hover {
            color: $secondary;
        }
    }
}