.quote-highlight {
    padding: 8em 0 6em;
    color: $black;
    a:hover {
        text-decoration: none;
    }
    q {
        position: relative;
        display: block;
        margin-bottom: 1.5em;
        padding: 0;
        &:before {
            position: absolute;
            top: -35px;
            left: -90px;
        }
    }
}

.quote-highlight-meta {
    display: block;
    margin-top: 4em;
    font-weight: 300;
    line-height: 1;
}

.quote-highlight-tags {
    display: block;
    margin-top: .3em;
    font-weight: 300;
    i {
        font-weight: 400;
    }
}

.quote-highlight-actions {
    float: right;
    margin-top: .5em;
    font-size: 2em;
    a {
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
    }
}

.quote-highlight-author {
    display: block;
    img {
        float: left;
        margin-right: 1.3em;
    }
}

.quote-highlight-author-name {
    display: inline-block;
    margin-top: .5em;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: -.05em;
}

.quote-highlight {
    .jumbotron-small {
        &:before {
            font-size: 5em;
            top: -50px;
        }
    }
}

@media (max-width:767px) {
    .quote-highlight {
        padding: 4em 0 3em;
    }
    .quote-highlight-content {
        text-align: center;
    }
    .quote-highlight-author {
        margin: 2em 0;
        > a {
            display: block;
            text-align: center;
            img {
                display: block;
                float: none;
                margin: 0 auto;
            }
        }
    }
    .quote-highlight-actions {
        float: none;
        text-align: center;
        a:not(.heart):not(.twitter):not(.google-plus):not(.facebook) {
            color: $secondary;
        }
    }

}
