{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <section class="author-card clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="{% static 'img/atwood.jpg' %}" class="author-avatar">
                    <h1>{{ author.name }}</h1>
                    <p>Douglas Crockford is an American computer programmer and entrepreneur who is best known for his ongoing involvement in the development of the JavaScript language, for having popularized the data format JSON (JavaScript Object Notation), and for developing various JavaScript related tools such as JSLint and JSMin.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="quotes">
        <div class="container quote-cards-container">
        {% for quote in quotes.object_list %}
            {% include "quotes/quote.html" %}
        {% endfor %}
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock %}
