{% extends "base.html" %}

{% block content %}
    <section class="quotes">
        <div class="container author-card">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ author.name }}</h1>
                </div>
            </div>
        </div>
        <div class="container quote-cards-container">
        {% for quote in quotes.object_list %}
            {% include "quotes/quote.html" %}
        {% endfor %}
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock %}
