{% extends "base.html" %}

{% block content %}
    <section class="author-card clearfix jumbotron-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10 author-meta-data">
                    {% if author.avatar %}
                        <img src="{{ author.avatar.url }}" class="author-avatar">
                    {% endif %}
                    <div class="author-info">
                        <h1 class="jumbotron">{{ author.name }}</h1>
                        {% if author.short_bio %}
                            <p>{{ author.short_bio|safe|linebreaks }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-2">actions</div>
            </div>
        </div>
    </section>
    <section class="quotes">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h3>Authors</h3>
                </div>
                <div class="col-md-10">
                    <div class="quote-cards-container">
                        {% for quote in quotes.object_list %}
                            {% include "quotes/quote.html" with has_author=author %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock %}
