{% extends "base.html" %}

{% block content %}
    {% if featured_quote and quotes.number == 1 %}
        {% include "quotes/highlight.html" with quote=featured_quote %}
    {% endif %}
    <div class="quotes-wrapper">
        <section class="quotes" id="quotes">
            <div class="quote-cards-container single container">
                {% if quotes %}
                    {% for quote in quotes.object_list %}
                        {% include "quotes/quote.html" %}
                    {% endfor %}
                {% endif %}
            </div>
            <noscript>
                {% include "quotes/pagination.html" %}
            </noscript>
        </section>
        <div class="pagination-loading row" id="pagination-loader">
            <div class="border-loading-indicator col-2 row-2"></div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script>paginator.init();</script>
{% endblock scripts %}
