{% extends "base.html" %}

{% block content %}
    {% if featured_quote %}
        {% include "quotes/highlight.html" with quote=featured_quote %}
    {% endif %}
    <section class="quotes">
        <div class="container quote-cards-container">
            {% if quotes %}
                {% for quote in quotes.object_list %}
                    {% include "quotes/quote.html" %}
                {% endfor %}
            {% endif %}
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock content %}
