{% load thumbnail %}

<div class="quote-card">
    <q>{{ quote.body|safe|linebreaks }}</q>
    <div class="quote-card-actions">
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://defprogramming.com{{ quote.get_absolute_url }}" target="_blank" class="facebook special">
            <i class="icon icon-facebook"></i>
        </a>
        <a href="https://twitter.com/home?status=%22{{ quote.body|urlencode|truncatechars:140 }}%22 http://defprogramming.com{{ quote.get_absolute_url }}" target="_blank" class="twitter special">
            <i class="icon icon-twitter"></i>
        </a>
        <a href="https://plus.google.com/share?url=http://defprogramming.com{{ quote.get_absolute_url }}" target="_blank" class="google-plus special">
            <i class="icon icon-google-plus"></i>
        </a>
        <a href="{{ quote.get_absolute_url }}#comments"><i class="icon icon-comments"></i></a>
    </div>
    {% if not has_author %}
        <div class="quote-card-author">
            {% if quote.authors.all|length > 1 %}
                {% for author in quote.authors.all %}
                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
                    {% if not forloop.last %} & {% endif %}
                {% endfor %}
            {% else %}
                {% with author=quote.authors.all.0 %}
                    <a href="{{ author.get_absolute_url }}">
                        <p>{{ author.name }}</p>
                    </a>
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}
    {% if not has_tag %}
        <div class="quote-card-tags">
            on
            {% for tag in quote.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
            {%endfor %}
        </div>
    {% endif %}
</div>
