<div class="quote-card">
    <q>{{ quote.body|safe|linebreaks }}</q>
    <div class="quote-card-actions">
        <a href="#" class="heart"><i class="icon icon-heart"></i></a>
        <a href="#"><i class="icon icon-share"></i></a>
        <a href="#"><i class="icon icon-comments"></i></a>
    </div>
    <div class="quote-card-author">
        <a href="#">
            {% if quote.authors.all|length > 1 %}
                {% for author in quote.authors.all %}
                    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
                    {% if not forloop.last %} & {% endif %}
                {% endfor %}
            {% else %}
                <a href="{{ quote.authors.all.0.get_absolute_url }}">
                    {% if author.avatar %}
                    <img src="{{ author.avatar.url }}" class="author-avatar">
                    {% endif %}
                    <p>{{ quote.authors.all.0.name }}</p>
                </a>
            {% endif %}
        </a>
    </div>
    <div class="quote-card-tags">
        on
        {% for tag in quote.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {%endfor %}
    </div>
</div>
