{% extends "base.html" %}

{% block content %}
<header>
  <h1>Submit Quote</h1>
</header>
<div class="box">

  {% if sent %}
    <p class="success">Your quote was successfully submitted, thank you! :-)</p>
  {% else %}
    <p class="info">Fill in the form below to suggest/submit a quote.</p>

    <form method="post" action="/submit/">
      {% csrf_token %} 
      {{ form }}
      <div class="actions"><input type="submit" value="Submit" class="btn primary" /></div>
    </form>
  {% endif %}
</div>
<p class="back"><a href="/">&larr; go back to the home page</a></p>
{% endblock %}
