{% extends "base.html" %}

{% block content %}
    <section class="tag-card jumbotron-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="jumbotron">#{{ tag.name }}</h1>
                </div>
                <div class="col-md-2 actions">
                    <!-- a href="#" class="heart"><i class="icon icon-heart"></i></a -->
                    <a href="#"><i class="icon icon-megaphone"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="quotes">
        <div class="container">
            <div class="row">
                <aside class="col-md-3 sidebar">
                    <h3>Tags</h3>
                    <ul>
                        {% for t in tags %}
                            <li>
                                <a href="{{ t.get_absolute_url }}"
                                    {% if t.id == tag.id %}
                                    class="active"{% endif %}>
                                    {{ t.name }} ({{ t.quote_set.all.count }})
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
                <div class="col-md-9">
                    <div class="quote-cards-container">
                        {% for quote in quotes.object_list %}
                            {% include "quotes/quote.html" with has_author=author %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock %}
