{% extends "base.html" %}

{% block content %}
    <section class="tag-card jumbotron-header">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="jumbotron">#{{ object.name }}</h1>
                </div>
                <div class="col-md-2 actions">
                    <!-- a href="#" class="heart"><i class="icon icon-heart"></i></a -->
                    <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.defprogramming.com{{ object.get_absolute_url }}"
                    target="_blank" class="facebook">
                        <i class="icon icon-facebook"></i>
                    </a>
                    <a href="https://twitter.com/home?status=Check it out! Quotes about {{ object.name }} http://www.defprogramming.com{{ object.get_absolute_url }}"
                    target="_blank" class="twitter">
                        <i class="icon icon-twitter"></i>
                    </a>
                    <a href="https://plus.google.com/share?url=http://www.defprogramming.com{{ object.get_absolute_url }}" target="_blank" class="google-plus">
                        <i class="icon icon-google-plus"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="tag-quotes">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div class="quote-cards-container">
                        {% for quote in quotes.object_list %}
                            {% include "quotes/quote.html" with has_author=author %}
                        {% endfor %}
                    </div>
                </div>
                <aside class="col-md-3 sidebar hidden-xs">
                    <div class="widget-sandwich" id="tags-sandwich">
                        <h3>Tags</h3>
                        <button disabled="disabled" class="widget-sandwich-up"><i class="icon icon-up"></i></button>
                        <div class="widget-sandwich-wrapper">
                            <ul class="widget-sandwich-content">
                                {% for t in tags %}
                                    <li class="widget-sandwich-item">
                                        <a href="{{ t.get_absolute_url }}"
                                            {% if t.id == object.id %}
                                            class="active"{% endif %}>
                                            {{ t.name }} ({{ t.quote_set.all.count }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button class="widget-sandwich-down"><i class="icon icon-down"></i></button>
                    </div>
                </aside>
            </div>
        </div>
        {% include "quotes/pagination.html" %}
    </section>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
    var sandwich = new Sandwich(document.getElementById('tags-sandwich'));
    </script>
{% endblock scripts %}