<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if quote %}Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %}{% else %}def programming: quotes about coding{% endif %}</title>
    <meta description="{% if quote %}{{ quote.body }}{% else %}Quotes about programming, coding, computer science, debugging.{% endif %}" />
    <link type="text/css" href="/static/style.css" rel="stylesheet" /> 
    <link href="http://fonts.googleapis.com/css?family=Brawler&v1" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    {% if quote %}
    <meta property="og:title" content="Quote by {% for author in quote.authors.all %}{{ author.name }}{% if not forloop.last %} and {% endif %}{% endfor %}" />
    <meta property="og:url" content="http://www.defprogramming.com{{ quote.get_absolute_url }}"/>
    <meta property="og:description" content="{{ quote.body }}"/>
    <meta property="og:site_name" content="def programming: quotes about coding"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:image" content=""/>    
    <meta property="fb:app_id" content="236133366405921"/>
    {% endif %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24367248-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    
  <section id="main">
  {% block content %}{% endblock %}  
  </section>

  <footer>
  <p><a href="/">Home</a> | <a href="/authors/">Authors</a> | <a href="/tags/">Tags</a> | <a href="/feed/">Feed</a> | Developed with <a href="https://www.djangoproject.com">&hearts;</a> by <a href="http://www.daviferreira.com">Davi Ferreira</a>.</p>
  </footer>
    
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js#appId=236133366405921&amp;xfbml=1"></script>
 
  </body>
  </html>
