{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,300,700">
        <link rel="stylesheet" href="{% static 'css/defprogramming.min.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="masthead clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1><a href="{% url 'root' %}">def <strong>programming</strong></a><small>quotes about coding</small></h1>
                    </div>
                    <div class="col-md-6">
                        <nav>
                            <a href="{% url 'root' %}">Home</a>
                            <a href="{% url 'authors' %}">Authors</a>
                            <a href="{% url 'tags' %}">Tags</a>
                            <a href="#">Slide Show</a>
                            <a href="{% url 'random' %}">Random</a>
                            <a href="{% url 'submit' %}" class="btn">Submit</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <div class="col-md-12">
                    <p class="clearfix">
                        <span>
                            <a href="{% url 'feed' %}"><i class="icon icon-rss"></i> Feed</a>
                        </span>
                        Developed & curated with
                        <a href="#" class="heart"><i class="icon icon-heart"></i></a>
                        by <a href="http://www.daviferreira.com/en" target="_blank">Davi Ferreira</a>.
                    </p>
                    <p class="follow-twitter">
                        <a href="http://www.twitter.com/davitferreira" target="_blank">
                            <i class="icon icon-twitter"></i> <strong>Follow me on Twitter</strong>
                        </a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
