<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>def programming: quotes about coding</title>
    <meta description="Quotes about programming, coding, computer science, debugging." />
    <link type="text/css" href="/static/style.css" rel="stylesheet" /> 
    <link href="http://fonts.googleapis.com/css?family=Brawler&v1" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24367248-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    
  <section id="main">
  {% block content %}{% endblock %}  
  </section>

  <footer>
  <p><a href="/">Home</a> | <a href="/authors/">Authors</a> | <a href="/tags/">Tags</a> | <a href="/feed/">Feed</a> | Developed with <a href="https://www.djangoproject.com">&hearts;</a> by <a href="http://www.daviferreira.com">Davi Ferreira</a>.</p>
  </footer>
    
  <div id="fb-root"></div> 
	<script type="text/javascript"> 
		window.fbAsyncInit = function() {
			FB.init({appId: '123642414313567', status: true, cookie: true,xfbml: true});
			FB.Event.subscribe('edge.create', function(url) {
			  _gaq.push(['_trackSocial', 'facebook', 'like', url]);
			});
			FB.Event.subscribe('edge.remove', function(url) {
			  _gaq.push(['_trackSocial', 'facebook', 'unlike', url]);
			});
		};
		(function() {
			var e = document.createElement('script'); e.async = true;
			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
			document.getElementById('fb-root').appendChild(e);
		}());
	</script> 

  </body>
  </html>
