{% extends "base.html" %}
{% block content %}


  {% if latest_quotes_list %}
  	{% for quote in latest_quotes_list %}
  		<article>
  			<cite>
  				<a href="/quote/{{ quote.id }}/">{{ quote.body}}</a>
  			</cite>
        <p class="author">&dash; &dash; 
        {% for author in quote.authors.all %}
          <a href="/author/{{ author.id }}/">{{ author.name }}</a> 
          {% if not forloop.last %} and {% endif %}
        {% endfor %}
        </p>
  		</article>
  	{% endfor %}
  {% else %}
  	<p>No quotes are available.</p>
  {% endif %}
{% endblock %}  
