<article>
	<cite>
		<a href="{{ quote.get_absolute_url }}">{{ quote.body}}</a>
	</cite>
  <p class="author">&dash; &dash; 
  {% for author in quote.authors.all %}
    <a href="{{ author.get_absolute_url }}">{{ author.name }}</a> 
    {% if not forloop.last %} and {% endif %}
  {% endfor %}
  </p>
  <ul class="share clearfix">
    {% if quote.tags.all %}
      <li class="tags">tagged under 
      {% for tag in quote.tags.all %}
        <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
      {%endfor %}
      </li>
    {% endif %}
    <li><g:plusone href="http://defprogramming.com{{ quote.get_absolute_url }}" size="medium">{{ quote.body }}</g:plusone></li>
    <li>
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://defprogramming.com{{ quote.get_absolute_url }}" data-text='"{{ quote.body }}"'>Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </li>
    <li>
    <fb:like href="http://defprogramming.com{{ quote.get_absolute_url }}" layout="button_count" show_faces="false" width="240" height="25" action="like" colorscheme="light"></fb:like>
    </li> 
  </ul>
</article>
